html {
  --brownColor: #896752;
  --blueColor: #45a8db;
  --orangeColor: #df733f;
  --yellowColor: #ffd147;
  --pinkColor: #df77ba;
  --greenColor: #30846a;
  min-height: 100vh;
  height: 100%;
}

body {
  /*font-family: Helvetica, Arial, sans-serif;*/
  min-height: 100vh;
  height: 100%;
}

/*question*/
.navbar {
  color: white;
}

.card-body {
  max-height: 250px;
  overflow: auto;
}

#questionCard {
  display: flex;
}

#answerCard {
  display: none;
}

/*chooseCategories*/
.categories {
  width: 95%;
  padding: 1%;
  border: none;
  border-radius: 5px;
  margin: 5px;
}

#brownCategory {
  background-color: var(--brownColor);
}

#blueCategory {
  background-color: var(--blueColor);
}

#orangeCategory {
  background-color: var(--orangeColor);
}

#yellowCategory {
  background-color: var(--yellowColor);
}

#pinkCategory {
  background-color: var(--pinkColor);
}

#greenCategory {
  background-color: var(--greenColor);
}

/*pickCategory*/
#wheel {
  display: block;
  margin: 10%;
}

.categoryDescription {
  display: block;
  padding: 10px;
  margin: 20%;
}

/*Wedges*/
.wedge {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
}

#brownWedge {
  border-bottom: 50px solid var(--brownColor);
}

#blueWedge {
  border-bottom: 50px solid var(--blueColor);
}

#orangeWedge {
  border-bottom: 50px solid var(--orangeColor);
}

#yellowWedge {
  border-bottom: 50px solid var(--yellowColor);
}

#pinkWedge {
  border-bottom: 50px solid var(--pinkColor);
}

#greenWedge {
  border-bottom: 50px solid var(--greenColor);
}

/*Colors*/
.color {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  text-align: center;
}

#brownColor {
  background-color: var(--brownColor);
}

#blueColor {
  background-color: var(--blueColor);
}

#orangeColor {
  background-color: var(--orangeColor);
}

#yellowColor {
  background-color: var(--yellowColor);
}

#pinkColor {
  background-color: var(--pinkColor);
}

#greenColor {
  background-color: var(--greenColor);
}

td {
  padding: 10px;
}